{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{article.title}}</h2>
            <div class="metadata">Ecrit le {{article.createdAt | date('d/m/Y') }} à {{article.createdAt | date('H:i') }} dans une catégorie <strong>{{ article. category.title}}</strong></div>
            <div class="content">
                <img src="{{article.image}}" alt="">
                {{article.content |raw}}
            </div>
    </article>

    <section id="commentaires">
    <h3>{{article.comments | length }} commentaires: </h3>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="col-3">
                    {{ comment.author}} (<small>{{ comment.createdAt | date('d/m/Y à H:i')}}</small>)
                </div>
                <div class="col">
                    {{ comment.content |raw}}
                </div>
            </div>
        {% endfor %}

        {% if app.user %}
            <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 60rem; ">    
                <div class="card-body">
                    <h4>Your comment : </h4>
                    {{ form_start(commentForm)}}
                    {{ form_row(commentForm.author, {'attr': {'placeholder': 'Your name'}})}}
                    {{ form_row(commentForm.content, {'attr': {'placeholder' : 'Your comment'}})}}
                    <button class="btn btn-secondary">Let's go 📖 !</button>
                    {{ form_end(commentForm) }}
                </div>
            </div>
        {% else %}
            <h4 class="my-4">Please, 🔗 connection for comment !</h4>
            <a href="{{ path('security_login') }}" class="btn btn-secondary  mx-auto">Login</a>
        {% endif %}
    </section>

{% endblock %}